
body{
    background-color: #313C4E;
    font-family: "Press Start 2P";
    

}
.Container{
    border: 4px dashed black;
    height: 100%;
    display: block;
}
.Banner{
    /* border: solid 3px orangered; */
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    min-width: 100%;
    margin: 1em auto;
}


.Column.col-Icon{
    /* border: solid 5px white; */
    /* background-color: pink; */
    min-width: 50%;
    max-height: 100%;
    /* display: flex;
    flex-wrap: wrap;
    Review the bottom settings it may mess things up*/
    /* padding-top: 4.5em;
    padding-bottom: 0;
    padding-left: 2.5em;
    padding-right: 2.5em;  */
    margin: auto 0em;
    justify-content: center;
    /* margin-right: 1px; may be useful for when I mees with image*/


}

/*may need to fix icon size using media queury*/
.IconLock{
    border: solid 6px white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    max-width: 70%;/* check what's wrong here*/
    min-width: 90%;
    margin: 0 auto; 
    padding: 0.5em 0;
}

.Icon{
    width: 25%;
    min-width:20%;
    /* background-color:lightyellow;  */
    /* text-align:center; */
    margin: 0em 0.3em;
    padding:  auto auto; 
    color:white;
}


.B:hover{
    color:#ffc20e;
    scale: 1.15; /* fix the centering of scale*/
}
.A:hover{
    color:#ffc20e;
    scale: 1.15; /* fix the centering of scale*/
}
.C:hover{
    color:#ffc20e;
    scale: 1.15; /* fix the centering of scale*/
}
.D:hover{
    color:#ffc20e;
    scale: 1.15; /* fix the centering of scale*/
}
.E:hover{
    color:#ffc20e;
    scale: 1.15; /* fix the centering of scale*/
}

.col-avatar{
    width:90%;
    max-width:800px;
    min-width: 55%;
    /* border: solid 6px blueviolet; */
    display: flex;
    /* align-items: center; */
    max-height: 300px;
    text-align: center;
    justify-content: space-around;
    
}

img{/*come back and decide on this*/
    display: block;
    width:90%;
    max-width:720px;
    /* min-width: 93%; */
    /* min-height: 110%; */
    background-color: aqua;
    
    
}

.col-about-me{
    border: 2px solid orange;
    
    border-radius: 2px;
    font-family: "Press Start 2P";
    width: 100%;
    text-align: center;
    color: white;
}
button{
    text-transform: uppercase;
    background: white;
    font-family: "Press Start 2P";
    color: #313C4E;
    cursor: grab;/*The cursor attribute is key*/
    /* border-radius: ; not sure I want to keep this */
    height: 40px;
}

#CM{
    text-decoration: none;
    color:#313C4E;
}
button:hover{
    background: #ffc20e;
    /* border-right: 4px solid #ffc20e;
    border-bottom: 2px solid #ffc20e; */
    scale: 1.35;

}


.col-skills{
    border: 2px solid orange;
    border-radius: 2px;
    width: 100%;
    color: white;
    margin: 1em auto;

}

.col-skills > h1{
    text-align: center
}



