.Container{
    border: 4px dashed black;
    height: 100%;
    display: block;
}
.Banner{
    border: solid 3px orangered;
    display: flex;
    justify-content: space-around;
}
/* .Column{
    width: 50%
} */

.col-Icon{
    border: solid 2px blueviolet;
    width:35%;
    min-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 300px;
    padding-top: 2.5em;
    padding-bottom: 2em;
    padding-left: 2.5em;
    padding-right: 2.5em;


}


.Icon{
    width: 25%;
    background-color:;
    text-align:center;
    margin: 0.1em 0.5em;
    padding:  auto 0.25;
    color:#313C4E;
}

.col-avatar{
    width:100%;
    min-width: 40%;
    border: solid 2px blueviolet;
    display: flex;
    justify-content: center;
    max-height: 300px;
}

img{
    max-width: 100%;
    min-width: 30%
    
    
}

.col-about-me{
    border: 2px solid orange;
    border-radius: 2px;
    width: 100%;
    text-align: center
}

/* p{

} */

.col-skills{
    border: 2px solid orange;
    border-radius: 2px;
    width: 100%;

}

.col-skills > h1{
    text-align: center
}



